.header-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.5625rem 1.875rem 0.625rem 1.875rem;
  background-color: var(--Petroleo-BG);
  border-bottom: 0.3125rem solid var(--Verde-EB);
}

.top-header, .account-info {
  display: flex;
  align-items: center;
}

.top-header {
  justify-content: space-between;
}

.account-info {
  gap: 0.9375rem;
}

.header-options-container {
  display: flex;
  padding: 0 3.125rem;
  justify-content: space-between;
  align-items: center;
}

.header-option {
  display: flex;
  align-items: center;
  gap: 0.3125rem;

  cursor: pointer;

  img {
    max-width: 1rem;
  }
}

.setinha, .section-name {
  transition: transform 0.3s ease;
}

.header-option.active .setinha {
  transform: rotate(-180deg);
}

.header-option.active .section-name {
  color: var(--Verde-Light);
}

.dropdown-options {
  background-color: var(--Gray-BG);
  position: absolute;
  width: 100%;
  border-left: 1px solid var(--Petroleo-BG);
  border-right: 1px solid var(--Petroleo-BG);
  border-bottom: 1px solid var(--Petroleo-BG);
  border-radius: 0 0 15px 15px;
  z-index: 10;
}

.objs-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 1.875rem;
  padding: 1.875rem 5rem;
  width: max-content;
}

.obj {
  display: flex;
  flex-direction: column;
}

.obj-header {
  font-size: 1.125rem;
  border-bottom: 1px solid #575757;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.dropdown-option {
  white-space: nowrap;
  padding: 0 0.625rem 0 0;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.dropdown-option p:hover {
  font-size: 1rem;
  color: var(--Verde-EB);
}

.account-info {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.account-info img {
  cursor: pointer;
}
