
  <ion-header [translucent]="true">
    @if(isMobile) {
      <app-header-mobile></app-header-mobile>
    }@else {
      <app-header-desktop></app-header-desktop>
    }
  </ion-header>



<ion-content class="mb-5 b-4" [fullscreen]="true">
  <ion-card
  style="box-shadow: none;background-color: transparent;"
  class="m-auto w-95 mt-2 titulo-color fz-20">PESQUISA OS
</ion-card>

<div>
  <ion-spinner *ngIf="isLoading" name="crescent" class="w-100 pt-5 text-color "></ion-spinner>
  <app-order-service-table style="z-index: 1000;"
    *ngIf="!isLoading"
    [tableData]="dados"
    [fieldsToShow]="fieldsToShow"
    [fielterCheck]="true"
    [renamedHeaders]="renomearCampos"
  >
  </app-order-service-table>
</div>


</ion-content>
<app-footer></app-footer>
