
  <ion-header [translucent]="true">
    @if(isMobile) {
      <app-header-mobile></app-header-mobile>
    }@else {
      <app-header-desktop></app-header-desktop>
    }
  </ion-header>



<ion-content class="mb-5 b-4" [fullscreen]="true">
  <ion-card
  style="box-shadow: none;background-color: transparent;"
  class="m-auto w-95 mt-2 titulo-color fz-20">PESQUISA OS
</ion-card>
<app-order-service-table
[tableData]="dados"
[fieldsToShow]="fieldsToShow"
[fielterCheck]="true"
>
</app-order-service-table>
</ion-content>
