ion-card {
  margin-bottom: 20px;
}

ion-button {
  margin-top: 10px;
}


.col {
  color: #f5f5dc;

}

.container {
  background-color: var(--Gray-BG);
  padding: 20px 10px;
  border-radius: 15px;
  height: 100%;

  ion-card {
    margin: 20px auto;
    max-width: 1024px;
    background-color: var(--Gray-BG);
    margin-top:8px;
    padding: 20px 10px;
    border-radius: 15px;


  }


  ion-input {
    --border-radius: 10px;
    // background-color: var(--Petroleo-BG);
  }
  ion-select {
    --border-radius: 10px;
    // background-color: var(--Petroleo-BG);
  }

}
