<header>
  <div class="menu-icon" (click)="toggleMenu()">☰</div>
  <div class="logo">
    <img src="#" alt="Logo" (click)="goTo('start')" />
  </div>
  <div class="right-icon" (click)="goTo('start')">
    <img src="#" alt="person" />
  </div>
</header>
<nav [class.sidebar]="true" [class.open]="isMenuOpen">
  <ul *ngIf="activeSubMenuIndex === null" class="sub-menu">
    <li (click)="goTo('start')">Início</li>
    <li (click)="toggleSubMenu(1)">Cadastar</li>
    <li (click)="toggleSubMenu(2)">Pesquisar</li>
    <li (click)="toggleSubMenu(3)">Fechar OS</li>
    <li (click)="toggleSubMenu(4)">Retirar</li>
    <li (click)="toggleSubMenu(5)">Relatorio</li>
    <li (click)="toggleSubMenu(6)">Mais Opções</li>
    <li (click)="logout()">Sair</li>
  </ul>
  <div *ngIf="activeSubMenuIndex === 1" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3><strong>Cadatrar Os</strong></h3>
      </li>
      <!-- <li (click)="goTo(screenWidth <= 300 ? 'register-os' : 'report-os')">Extrato</li> -->
      <li (click)="goTo('register-os')">Ordem de Serviço</li>
      <li (click)="goTo('report-os')">Peças e Serviços</li>
    </ul>
  </div>


  <div *ngIf="activeSubMenuIndex === 2" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3><strong>Pesquisar</strong></h3>
      </li>
      <li (click)="goTo('search')">Ordem de Serviço</li>
      <li (click)="goTo('parts-and-services')">Peças e Serviços na OS</li>
    </ul>
  </div>


  <div *ngIf="activeSubMenuIndex === 3" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3><strong>Fechar ordem de serviço</strong></h3>
      </li>
      <li (click)="goTo('close-sevice-order')">Fechar</li>


    </ul>
  </div>


  <div *ngIf="activeSubMenuIndex === 4" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3><strong>Cadastrar retirada</strong></h3>
      </li>
      <li (click)="goTo('vehicle-exit')">Retirar</li>


    </ul>
  </div>


  <div *ngIf="activeSubMenuIndex === 5" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3>PDF</h3>
      </li>

      <li [style]="activeOption === 'retirada' ? 'color: var(--Verde-Light)' : ''"
      (click)="toggleSubOptions('retirada')">(OS) retiradas
        <img class="setinha" [class.rotated]="activeOption === 'retirada'" src="/assets/icon/setinha.svg" alt="">
      </li>

      <ul *ngIf="activeOption === 'retirada'">

        <li (click)="goTo('generate-pdf')">Oredem de serviço-PDF</li>
      </ul>

      <li [style]="activeOption === 'resumo' ? 'color: var(--Verde-Light)' : ''"
        (click)="toggleSubOptions('resumo')">Resumo operacional
        <img class="setinha" [class.rotated]="activeOption === 'resumo'" src="/assets/icon/setinha.svg" alt="">
      </li>
      <ul *ngIf="activeOption === 'resumo'">
        <li (click)="goTo('start')">Relatório de produção</li>
        <li (click)="goTo('start')">Problemas operacionais</li>

      </ul>
    </ul>
  </div>

  <div *ngIf="activeSubMenuIndex === 6" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3>Mais Opções</h3>
      </li>
      <li [style]="activeOption === 'usuario' ? 'color: var(--Verde-Light)' : ''" (click)="toggleSubOptions('usuario')">
        Usuário
        <img class="setinha" [class.rotated]="activeOption === 'usuario'" src="/assets/icon/setinha.svg" alt="">
      </li>
      <ul *ngIf="activeOption === 'usuario'">
        <li (click)="goTo('profiles')">Perfil</li>
        <li (click)="goTo('start')">Alterar Senha</li>
      </ul>
      <li [style]="activeOption === 'Outros' ? 'color: var(--Verde-Light)' : ''" (click)="toggleSubOptions('Outros')">
        Outros
        <img class="setinha" [class.rotated]="activeOption === 'Outros'" src="/assets/icon/setinha.svg" alt="">
      </li>
      <ul *ngIf="activeOption === 'Outros'">
        <li (click)="goTo('start')">Documentos</li>
        <li (click)="goTo('start')">Termos de Uso</li>
      </ul>
    </ul>
  </div>
</nav>
