<header>
  <div class="menu-icon" (click)="toggleMenu()">☰</div>
  <div class="logo">
    <img src="#" alt="Logo" (click)="goTo('home')" />
  </div>
  <div class="right-icon" (click)="goTo('home')">
    <img src="#" alt="person" />
  </div>
</header>
<nav [class.sidebar]="true" [class.open]="isMenuOpen">
  <ul *ngIf="activeSubMenuIndex === null" class="sub-menu">
    <li (click)="goTo('start')">Home</li>
    <li (click)="toggleSubMenu(1)">Cadastar</li>
    <li (click)="toggleSubMenu(2)">Pesquisar</li>
    <li (click)="toggleSubMenu(3)">Encerrar</li>
    <li (click)="toggleSubMenu(4)">Relatorio</li>
    <li (click)="toggleSubMenu(5)">Usuario</li>
    <li (click)="toggleSubMenu(6)">Mais Opções</li>
    <li>Sair</li>
  </ul>
  <div *ngIf="activeSubMenuIndex === 1" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3>Cadatrar Os</h3>
      </li>
      <li (click)="goTo(screenWidth <= 768 ? 'statement-details' : 'statement-desktop')">Extrato</li>
      <li (click)="goTo('home')">Comprovantes</li>
    </ul>
  </div>


  <div *ngIf="activeSubMenuIndex === 2" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3>Pesquisar</h3>
      </li>
      <li (click)="goTo('home')">OS</li>
      <li (click)="goTo('home')">Entrada</li>
      <li (click)="goTo('home')">Saida</li>
    </ul>
  </div>


  <div *ngIf="activeSubMenuIndex === 3" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3>Comprovantes</h3>
      </li>
      <li (click)="goTo('home')">Retiradas dos veículos</li>
      <li (click)="goTo('home')">relatório OS</li>
 
    </ul>
  </div>


  <div *ngIf="activeSubMenuIndex === 4" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3>PDF</h3>
      </li>
      <li [style]="activeOption === 'folha de pagamento' ? 'color: var(--Verde-Light)' : ''"
        (click)="toggleSubOptions('folha de pagamento')" [ngClass]="{'d-none': typeUser === 'personal'}">
        Folha de Pagamento
        <img class="setinha" [class.rotated]="activeOption === 'folha de pagamento'"
          src="/assets/icon/setinha.svg" alt="">
      </li>
      <ul *ngIf="activeOption === 'folha de pagamento'">
        <li (click)="goTo('payroll-management')">Consultar Folha</li>
      </ul>
      <li [style]="activeOption === 'dda' ? 'color: var(--Verde-Light)' : ''" (click)="toggleSubOptions('dda')">OS retiradas
        <img class="setinha" [class.rotated]="activeOption === 'dda'" src="/assets/icon/setinha.svg" alt="">
      </li>
      <ul *ngIf="activeOption === 'dda'">

        <li (click)="goTo('')">Formulario</li>
      </ul>
      <li [style]="activeOption === 'outros-pagamentos' ? 'color: var(--Verde-Light)' : ''"
        (click)="toggleSubOptions('outros-pagamentos')">Resumo de estoques
        <img class="setinha" [class.rotated]="activeOption === 'outros-pagamentos'" src="/assets/icon/setinha.svg" alt="">
      </li>
      <ul *ngIf="activeOption === 'outros-pagamentos'">
        <li (click)="goTo('payment/boleto-options/manual')">quantidade</li>
        <li (click)="goTo('gps')">media de saída</li>
        <li (click)="goTo('darf')">total de saída</li>
      </ul>
    </ul>
  </div>


  <div *ngIf="activeSubMenuIndex === 5" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3>Dados</h3>
      </li>
      <li (click)="goTo('card')" [ngClass]="{'d-none': !menuCardVisible }">Ver perfil</li>
      <li (click)="goTo('card-statement')" [ngClass]="{'d-none': !menuCardVisible }">editar</li>
      <li (click)="goTo('request-card')">Avatar</li>
    </ul>
  </div>

  <div *ngIf="activeSubMenuIndex === 6" class="sub-menu">
    <ul>
      <li class="voltarBar" (click)="closeSubMenu()">
        <img class="setinhaVoltar" src="/assets/icon/chevron-left-solid.svg" alt=""> Voltar
      </li>
      <li>
        <h3>Mais Opções</h3>
      </li>
      <li [style]="activeOption === 'usuario' ? 'color: var(--Verde-Light)' : ''" (click)="toggleSubOptions('usuario')">
        Usuário
        <img class="setinha" [class.rotated]="activeOption === 'usuario'" src="/assets/icon/setinha.svg" alt="">
      </li>
      <ul *ngIf="activeOption === 'usuario'">
        <li (click)="goTo('profile-details')">Perfil</li>
        <li (click)="goTo('change-password')">Alterar Senha</li>
      </ul>
      <li [style]="activeOption === 'Outros' ? 'color: var(--Verde-Light)' : ''" (click)="toggleSubOptions('Outros')">
        Outros
        <img class="setinha" [class.rotated]="activeOption === 'Outros'" src="/assets/icon/setinha.svg" alt="">
      </li>
      <ul *ngIf="activeOption === 'Outros'">
        <li (click)="goTo('document')">Documentos</li>
        <li (click)="goTo('terms')">Termos de Uso</li>
      </ul>
    </ul>
  </div>
</nav>
