<ion-content class="container" [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="loginAccont()" class="form-container">
    <ion-card class="form-card">
      <ion-card-title class="titulo-color p-1">Login</ion-card-title>

      <ion-col class="col" size="12" size-md="12">
        <ion-input
          label="Login"
          label-placement="floating"
          fill="outline"
          placeholder="LOGIN"
          formControlName="login"
          maxlength="20">
        </ion-input>
      </ion-col>

      <ion-col class="col" size="12" size-md="12">
        <ion-input
          label="Password"
          [type]="passwordType"
          label-placement="floating"
          fill="outline"
          placeholder="SENHA"
          formControlName="senha"
          maxlength="20">
          <ion-icon
            [name]="passwordIcon"
            slot="end"
            (click)="togglePasswordVisibility()">
          </ion-icon>
        </ion-input>
      </ion-col>

      <ion-button class="p-1"
        color="success"
        expand="block"
        [disabled]="!form.valid"
        type="submit">
        Login
      </ion-button>
    </ion-card>
  </form>
</ion-content>
