:host {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-tabs {
  ion-tab-bar {
    --background: #fff;
    --border: 1px solid #e0e0e0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05);
    padding-bottom: env(safe-area-inset-bottom);

    ion-tab-button {
      --color: #888;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6px 0;

      ion-icon {
        font-size: 1.2rem;
      }

      ion-label {
        font-size: 0.75rem;
        margin-top: 2px;
      }

      &:hover {
        background-color: #f3f3f3;
      }

      &.tab-selected {
        --color: var(--ion-color-primary);
      }
    }
  }
}
