<ion-content class="ion-padding">
  <h3>OS Abertas</h3>
  <div class="card-scroll">
    <ng-container *ngFor="let viatura of viaturas">
      <ion-card *ngIf="viatura.status === 'aberta'" color="danger">
        <ion-card-header>
          <ion-card-title>{{ viatura.modelo }}</ion-card-title>
          <ion-card-subtitle>{{ viatura.status | titlecase }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ viatura.detalhes }}
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>

  <h3>OS Em Manutenção</h3>
  <div class="card-scroll">
    <ng-container *ngFor="let viatura of viaturas">
      <ion-card *ngIf="viatura.status === 'fazendo'" color="warning">
        <ion-card-header>
          <ion-card-title>{{ viatura.modelo }}</ion-card-title>
          <ion-card-subtitle>{{ viatura.status | titlecase }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ viatura.detalhes }}
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>

  <h3>OS Disponínel</h3>
  <div class="card-scroll">
    <ng-container *ngFor="let viatura of viaturas">
      <ion-card *ngIf="viatura.status === 'pronto'" color="success">
        <ion-card-header>
          <ion-card-title>{{ viatura.modelo }}</ion-card-title>
          <ion-card-subtitle>{{ viatura.status | titlecase }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ viatura.detalhes }}
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>
</ion-content>
