<ion-header [translucent]="true">
<app-header-mobile></app-header-mobile>
<!-- <app-header-desktop></app-header-desktop> -->
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <p>Ready to create an app?</p>

    <app-masked-input
      [label]="'CPF*'"
      [type]="'cnpj'"
      [name]="'cpf'"
      [inputmode]="'numeric'"
      [placeholder]="'000.000.000-00'"
      (ionInput)="callAction('cpf', $event)"
      [errorFormessage]="erroCPFMessage"
      [maxLength]="14"
      [mask]="getMasks('cnpj')"
      [value]="valueInput['cpf']"
      [errorFormDisplay]="errorColaboratorDisplayCPF">
    </app-masked-input>

    <app-unmasked-input
      [label]="'Insira seu e-mail corporativo'"
      [type]="'email'"
      [name]="'email'"
      [placeholder]="'mail@email.com'"
      (ionInput)="callAction('email', $event)"
      [errorFormessage]="errorEmailMessage"
      [maxLength]="50"
      [value]="valueInput['email']"
      [errorFormDisplay]="errorColaboratorDisplayEmail">
    </app-unmasked-input>

    <app-button
      text="Click Me"
      width="300px"
      (click)="authenticateColaborator()">
    </app-button>

    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
