<ion-header [translucent]="true">
<app-header-mobile></app-header-mobile>
<app-header-desktop></app-header-desktop>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Ready to create an app?</p>

    <app-masked-input
    [label]="'CPF*'"
    [type]="'text'"
    [name]="'cpf'"
    [inputmode]="'numeric'"
    [placeholder]="'000.000.000-00'"
    (ionInput)="callAction('cpf', $event)"
    [errorFormessage]="erroCPFMessage"
    [mask]="masks[5]"
    [maxLength] = "14"
    [value]="valueInput['cpf']"
    [errorFormDisplay]="errorColaboratorDisplayCPF">
   ></app-masked-input>

    <app-button
       text="Click Me"
       width="300px"
       (click)="authenticateColaborator()"
    ></app-button>

    <app-unmasked-input
    [label]="'Insira seu e-mail corporativo'"
    [type]="'email'"
    [name]="'email'"
    [placeholder]="'mail@email.com'"
    (ionInput)="callAction('email', $event)"
    [errorFormessage]="errorEmailMessage"

    [maxLength] = "50"
    [value]="valueInput['email']"
    [errorFormDisplay]="errorColaboratorDisplayEmail"
    > </app-unmasked-input>

    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>


  <!-- <form-unmasked-input
  [label]="'E-mail*'"
  [type]="'email'"
  [name]="'email'"
  [placeholder]="'mail@email.com'"
  (ionInput)="callAction('email', $event)"
  [errorFormessage]="errorFormUserManager.email.message"
  [errorFormDisplay]="errorFormUserManager.email.display"
  [maxlength]="50"
  [value]="valueInput['email']">
</form-unmasked-input> -->

</ion-content>
