<div class="table-full">
  <div *ngIf="fielterCheck" class="filter-container">
    <div class="input-search">
      <label for="filterField">Filtrar por:</label>
      <select id="filterField" [(ngModel)]="selectedFilterField">
        <option value="">Selecione um campo</option>
        <option *ngFor="let header of tableHeaders" [value]="header">{{ header }}</option>
      </select>
    </div>


    <div class="input-search">
      <label for="filterValue">Valor:</label>
      <input id="filterValue" type="text" placeholder="Digite o termo de busca" [(ngModel)]="filterValue"
        (ngModelChange)="applyFilter()" />
    </div>

  </div>


  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">{{ header }}</th>
          <th *ngIf="buttonConfig">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of paginatedData"
                [class.selected]="rowSelectionEnabled && row === selectedRow"
                [ngClass]="{'pointer-cursor': rowSelectionEnabled}"
                (click)="onRowSelect(row)">
           <td *ngFor="let field of tableHeaders">
            <!-- Verifica se o campo deve ser exibido como link -->
            <ng-container *ngIf="isLinkField(field); else defaultField">
              <a class="link" href="#" (click)="onLinkClick(row, field, $event)">{{ row[field] }}</a>
            </ng-container>
            <!-- Exibe o valor padrão para campos normais -->
            <ng-template #defaultField>
              {{ row[field] }}
            </ng-template>
          </td>

          <td *ngIf="buttonConfig">
            <app-button  text="PDF" width="50px" (click)="onButtonClick(row, $event)"></app-button>
            <!-- <app-button (click)="onButtonClick(row, $event)" text="GERAR PDF"></app-button> -->

          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>

    <label for="itemsPerPage"></label>
    <select id="itemsPerPage" (change)="updateItemsPerPage($event)" class="items-per-page-select">
      <option *ngFor="let option of pageOptions" [value]="option">{{ option }}</option>
    </select>
  </div>
</div>
