.table-full {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: transparent;
}

.filter-container {
  margin: auto;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  gap: 10px; /* Espaço entre os elementos */
  background-color: var(--Light-Gray);

  label {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  select,
  input {
    padding: 6px 10px;
    border-radius: 15px;
    border: 1px solid var(--Verde-EB);
    background-color: var(--Gray-BG);
    min-width: 180px; /* Garante que os elementos não fiquem muito pequenos */
  }
}

.table-container {
  width: 95%;
  margin: auto;
  overflow-x: auto;
  border-radius: 16px;
  background-color: var(--Gray-BG);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  table-layout: auto;
}

th,
td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: var(--Verde-EB);
}

tr {
  background-color: var(--Gray-BG);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

tr:nth-child(odd) {
  background-color: rgba(171, 171, 171, 0.3);
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.pagination-controls button {
  padding: 10px 20px;
  background-color: var(--Petroleo-BG);
  color: white;
  border: 1px solid var(--Verde-EB);
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.pagination-controls button:hover {
  background-color: var(--Verde-EB);
}

.pagination-controls button[disabled] {
  background-color: var(--Petroleo-BG);
  color: var(--Gray-BG);
}

.items-per-page-select {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid var(--Verde-EB);
  border-radius: 30px;
  background-color: var(--Gray-BG);
  color: white;
  cursor: pointer;
}

/* Responsividade aprimorada para telas menores */
@media screen and (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
  }

  .filter-container select,
  .filter-container input {
    width: 100%;
    max-width: 350px;
  }

  .pagination-controls {
    flex-direction: column;
    gap: 5px;
  }
}

@media screen and (max-width: 480px) {
  .filter-container {
    width: 100%;
    border-radius: 0;
  }

  .filter-container select,
  .filter-container input {
    width: 90%;
    max-width: 100%;
  }

  .items-per-page-select {
    display: none;
  }

  .table-container {
    width: 100%;
    border-radius: 0;
  }

}
