<ion-header [translucent]="true">
  <ng-container *ngIf="isMobile; else desktopHeader">
    <app-header-mobile></app-header-mobile>
  </ng-container>
  <ng-template #desktopHeader>
    <app-header-desktop></app-header-desktop>
  </ng-template>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container m-auto">
    <!-- Cabeçalho -->
    <div class="header">
      <h1>Cadastro de OS</h1>
    </div>
    <!-- Inputs principais -->
    <form [formGroup]="form" (ngSubmit)="cadastrar()">
      <ion-grid>
        <ion-row>
          <ion-col class="col" size="12" size-md="4">
            <ion-input
              label="Marca da Viatura"
              label-placement="floating"
              fill="outline"
              placeholder="Digite a marca"
              formControlName="marca"
              maxlength="50">
            </ion-input>
          </ion-col>
          <ion-col class="col" size="12" size-md="4">
            <ion-input
              label="Modelo"
              label-placement="floating"
              fill="outline"
              placeholder="Digite o modelo"
              formControlName="modelo"
              maxlength="50">
            </ion-input>
          </ion-col>
          <ion-col class="col" size="12" size-md="4">
            <ion-input
              label="Placa/EB"
              label-placement="floating"
              fill="outline"
              placeholder="Digite a placa"
              formControlName="placa"
              maxlength="50">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col" size="12" size-md="4">
            <ion-input
              label="SU/CIA da Viatura"
              label-placement="floating"
              fill="outline"
              placeholder="Digite a SU/CIA"
              formControlName="suCia"
              maxlength="10">
            </ion-input>
          </ion-col>
          <ion-col class="col" size="12" size-md="4">
            <ion-input
              type="number"
              label="Patrimônio"
              label-placement="floating"
              fill="outline"
              placeholder="Digite o patrimônio"
              formControlName="patrimonio"
              (keypress)="onKeyPressBlock($event)"
              (input)="limitNumber($event, 'patrimonio')">
            </ion-input>
          </ion-col>
          <ion-col class="col" size="12" size-md="4">
            <ion-input
              type="number"
              label="Hodômetro"
              label-placement="floating"
              fill="outline"
              placeholder="Digite o hodômetro"
              formControlName="hodometro"
              (keypress)="onKeyPressBlock($event)"
              (input)="limitNumber($event, 'hodometro')">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col" size="12">
            <ion-textarea
              label="Problema Apresentado"
              label-placement="floating"
              fill="outline"
              placeholder="Descreva o problema"
              formControlName="problema"
              [counter]="true"
              maxlength="300">
            </ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col" size="12" size-md="12">
            <ion-input

              label="Sistema Afetado"
              label-placement="floating"
              fill="outline"
              placeholder="Digite o sistema"
              formControlName="sistema"
              [counter]="true"
              maxlength="55"
              
              >
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col" size="12">
            <ion-textarea
              label="Causa da Avaria"
              label-placement="floating"
              fill="outline"
              placeholder="Descreva a causa"
              formControlName="causa"
              [counter]="true"
              maxlength="300">
            </ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col" size="12" size-md="3">
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true" id="datetimeModal">
              <ng-template>
                <ion-datetime
                  id="datetime"
                  presentation="date"
                  (ionChange)="onDateChange($event)">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
          <ion-col class="col" size="12" size-md="3">
            <ion-select
              label="Manutenção"
              label-placement="floating"
              fill="outline"
              formControlName="manutencao">
              <ion-select-option value="corretiva">Corretiva</ion-select-option>
              <ion-select-option value="preventiva">Preventiva</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- Botões -->
      <div class="button-group">
        <ion-button
          color="danger"
          expand="block"
          (click)="limpar()">
          Limpar
        </ion-button>
        <ion-button
          color="success"
          expand="block"
          [disabled]="!form.valid"
          type="submit">
          Cadastrar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
