ion-card {
  margin-bottom: 20px;
}

ion-button {
  margin-top: 10px;
}


.col {
  color: #f5f5dc;

}

.container {
  max-width: 1024px;
  background-color: var(--Gray-BG);
  margin-top:50px ;
  padding: 20px 10px;
  border-radius: 15px;

  ion-card{
    border: 1px solid var(--Verde-EB);
    --border-radius: 10px;
    background-color: var(--Petroleo-BG);
  }


  ion-input{
    --border-radius: 10px;
    // background-color: var(--Petroleo-BG);
  }
  ion-select{
    --border-radius: 10px;
    // background-color: var(--Petroleo-BG);
  }

}
